var format = function(text) {
    // wxs
    if(!text) {
        return
    }
    var reg = getRegExp('\\\\n','g')
    return text.replace(reg,'\n&nbsp;&nbsp;&nbsp;&nbsp;')
}

var limit = function(arr, startPos, endPos) {
    return arr.slice(startPos, endPos)
}

module.exports = {
    format: format,
    limit: limit
}